@font-face {
    font-family: 'modularbold';
    src: url('font/modular-bold-webfont.woff2') format('woff2'),
         url('font/modular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'modularlight';
    src: url('font/modular-light-webfont.woff2') format('woff2'),
         url('font/modular-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'modularregular';
    src: url('font/modular-regular-webfont.woff2') format('woff2'),
         url('font/modular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}
body{
    background: #000;
    font-family: 'modularregular';
}
#wrap{
    background: #fff url('img/bg.png') no-repeat;
    width: 1200px;
    height: 750px;
    margin: auto;
    position: relative;
}
.s{
    position: absolute;
    top: 0;
    left: 0;
}
#donate{
    position: absolute;  top:0;left:0;
    right:0;bottom:0;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: 'modularbold';
    padding-top: 400px;
    display: none;
}
#donate a{
    -webkit-transition: font-size 1s;
    transition: font-size 1s;
}
#donate a:hover{
    font-size: 72px;
}
#corner{
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 36px;
    font-family: 'modularregular';
    color: #000;
    z-index: 999;
}
.grey{
    color: #aaa;
    font-family: 'modularlight';
}
#arrow{
    display: block;
    margin: 30px 0 0 0;
    cursor: pointer;
    stroke: red;
    width: 26px;
    height: 26px;
}
.animated{
    -webkit-animation: re 0.7s;
            animation: re 0.7s;
}
.author{
    display: block;
    font-size: 16px;
    color: inherit;
}
.author:hover{
    text-decoration: underline;
}
.fb{
    margin: 10px 0 30px 0;
}

@-webkit-keyframes re{
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes re{
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}








<div class="fb-share-button" data-href="http://re-click.com" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="">Udostępnij</a></div>
